name: Cargo Build & Test

on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "LICENSE"

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-D warnings"

jobs:
  check:
    name: Check
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8edcb1bdb4e267140fa742c62e395cd74f332709
      - uses: actions-rust-lang/setup-rust-toolchain@806aa7ddf5d59f36fb30048411f6bde29364a53f
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo check --all-features

  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    needs: check
    steps:
      - uses: actions/checkout@8edcb1bdb4e267140fa742c62e395cd74f332709
      - uses: actions-rust-lang/setup-rust-toolchain@806aa7ddf5d59f36fb30048411f6bde29364a53f
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - run: cargo clippy --all-features -- -D warnings

  docker_lint:
    runs-on: ubuntu-24.04
    container: hadolint/hadolint:latest-alpine
    steps:
      - uses: actions/checkout@8edcb1bdb4e267140fa742c62e395cd74f332709
      - run: hadolint Dockerfile

  build_docker:
    name: Build Docker
    needs: [clippy, docker_lint]
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        platform: [linux/amd64]
    steps:
      - uses: actions/checkout@8edcb1bdb4e267140fa742c62e395cd74f332709
      - uses: docker/setup-qemu-action@7e10951aea186e886cef2f1a25a7bbf4e593d710
      - uses: docker/setup-buildx-action@3f1544eb9eff0b4d4d279b33f704a06fcf8d0e43
        with:
          buildkitd-flags: --debug
      - uses: docker/build-push-action@0788c444d8b4d67580213712e34a148cae3a6c4e
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
